.details {
  background-color: #eb4e24;
  height: 800px;
}
input[type=text],
#uexperience,
#equalification,
#roles {
  /* width: 86%; */
  padding: 7px 7px;
  border: #c1c1c1 solid 1px;
  height: 40px;
  background: none;
  border-radius: 5px;
}
.img_wraper{
	width: 250px;
	float:left;
}
.img_wraper>img{
	object-fit: cover;
	width: 250px;
}
select,.myScore, .myRequest, .photo_up, .submit_photo {
  width: 250px;
  height: 40px;
  padding: 0 1em;
  background: none;
  border: #c1c1c1 solid 1px;
  border-radius: 5px;
}
.myScore,.myRequest, .submit_photo{
background:#2b2984;
    color: white;
    font-size: 25px;
    font-weight: bold;
    float:left;
    margin-top: 18px;
   
    
}
.submit_photo{
	margin-top: 0px;
}
.myRequest{
	float:right;
	margin-top:0;
}
.col-lg-6{

}
.saveScore{
	background:  #a92f2c;
    color: white;
    font-size: 25px;
    font-weight: bold;
    float:left;
    margin-top: 18px;
    width: 436px;
     border-radius:7px;
}
.result{
	    margin-left: 4px;
}
.border {
  border: #dbdbdb solid 1px;
}
table td {
  padding: 10px;
}
input[type=file] {
  
  height: 40px;
  padding: 8px 7px;
 
}
label {
  color: red;
}
#captcha {
  width: 77%;
}
.fa {
  font-size: 2em !important;
  color: #fff;
  padding-left: 15px;
}
form {
  
  /*border: 1px solid;*/
}

input.button4 {
    position: relative;
    float: right;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #8a1311 linear-gradient(#969a97, #9e1c1a);
    box-shadow: inset #555 0 -1px 1px, inset 0 1px 1px #b2b5b2, #d0d4d0 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    /* -webkit-animation: pulsate 1.2s linear infinite; */
    /* animation: pulsate 2.8s linear infinite; */
}

input.button4:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
input.button4:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
